* {
    margin: 0px;
    padding: 0px;
}

section {
    background-color: rgba(15, 13, 13, 0.801);
    width: 100vw;
    min-width: 500px; 
    height: 360px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    line-height: 25px;
    border-radius: 25px;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(7, 3, 97) 0%, rgb(70, 9, 12) 40%, rgb(50, 1, 70) 100%);
    height: 100vh;
}

.center {
    text-align: center;
}

.col {
    width: 31%;
    height: 80px;
    display: inline-block;
    margin: 3px;
    margin-top: 30px;
}

.left {
    text-align: left;
}

.label {
    font-weight: bold;
}

.i {
    font-weight: bold;
}

.in-box {
    border-radius: 25px;
    font-weight: bold;
    padding: 3px;
    padding-left: 10px;
    border-style: none;
    width: 25px;
    float: right;
    top: 3px;
}

.hidden {
    display: none;
}

.out-text {
    border-radius: 25px;
    font-weight: bold;
    padding: 3px;
    padding-left: 10px;
    width: 90%;
    height: 60%;
    top: 3px;
    resize: none;
}

#btn-lock {
    background-color: green;
}

.btn {
    width: 100px;
    height: 2.5em;
    background-color: green;
    color: white;
    font-weight: bold;
}
