* {
  padding: 5px;
}

body {
  background-color: rgb(55, 55, 65);
  color: rgb(240, 240, 240);
}

.tb {
  width: 50px;
  border-radius: 8px;
  box-shadow: -2px 3px 0px 0px rgba(51, 26, 70, 0.8);
}

.cb {
  box-shadow: -2px 3px 0px 0px rgba(51, 26, 70, 0.8);
  border-radius: 50%;
}

.ta {
  width: 1500px;
  height: 500px;
  border-radius: 8px;
  box-shadow: -10px 10px 7px 3px rgba(51, 26, 70, 0.8);
  border: 5px solid transparent;
}

#btnRoll {
box-shadow: -2px 3px 0px 0px rgba(51, 26, 70, 0.8);
border-radius: 8px;
}

.center {
  text-align: center;
}

.left {
 float: left; 
}

#dplogo {
  height: 75px;
  width: 125px;
  display: inline-block;
}

div#legal {
  background-color: rgba(100, 25, 100, 0.5);
  color: black;
  border: dotted;
  border-color: black;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
}

a {
  color: goldenrod;
}